Repository Monsoft-Solutions/monsoftsolutions.com: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{
  "*.{js,mjs,ts,tsx}": ["eslint --fix", "prettier --write"],
  "*.astro": ["eslint --fix", "prettier --write"],
  "*.{css,md,json}": ["prettier --write"]
}

docs: add target audience analysis document
  docs/TARGET_AUDIENCE.md
Due: prettier --write

docs: optimize blog strategy for audience engagement and SEO
  docs/BLOG-TOPICS.md
  docs/BLOG-WRITING-SKILL.md
Due: prettier --write

feat(blog): add post - Email Marketing Automation: 7 Sequences That Drive Real Results
  src/data/blog/email-marketing-automation-small-business/index.md
Due: prettier --write

feat(blog): add post - AI Phone Answering: How Small Businesses Never Miss a Call
  src/data/blog/ai-phone-answering-small-business-guide/index.md
Due: prettier --write

feat: add Google Analytics 4 and Microsoft Clarity
  .env.example
  src/components/Analytics.astro
  src/layouts/Layout.astro
Due: eslint --fix, prettier --write

fix: disable prefer-rest-params for vendor analytics snippets
  .prettierignore
  src/components/Analytics.astro
Due: eslint --fix, prettier --write

feat: Add Google Analytics 4 and Microsoft Clarity (#4)
  .env.example
  .prettierignore
  src/components/Analytics.astro
  src/layouts/Layout.astro
Due: eslint --fix, prettier --write

chore: update .gitignore to include additional environment files and blog image paths
  .gitignore
Due: none

docs: add git worktree guide for parallel development
  .claude/skills/worktree/SKILL.md
  .gitignore
  CLAUDE.md
  docs/GIT-WORKTREE.md
  src/pages/industries/index.astro
Due: eslint --fix, prettier --write

docs: add git worktree guide for parallel development (#5)
  .claude/skills/worktree/SKILL.md
  .gitignore
  CLAUDE.md
  docs/GIT-WORKTREE.md
  src/pages/industries/index.astro
Due: eslint --fix, prettier --write

feat(seo): add comprehensive JSON-LD structured data library
  src/layouts/BlogPost.astro
  src/layouts/Layout.astro
  src/lib/schemas/article.ts
  src/lib/schemas/breadcrumb.ts
  src/lib/schemas/faq.ts
  src/lib/schemas/index.ts
  src/lib/schemas/local-business.ts
  src/lib/schemas/organization.ts
  src/lib/schemas/product.ts
  src/lib/schemas/service.ts
  src/lib/schemas/types.ts
  src/lib/schemas/website.ts
  src/pages/about.astro
  src/pages/contact.astro
  src/pages/index.astro
  src/pages/products.astro
  src/pages/services.astro
  src/pages/services/automation.astro
Due: eslint --fix, prettier --write

refactor(schemas): DRY improvements and Google guidelines compliance
  src/lib/schemas/article.ts
  src/lib/schemas/breadcrumb.ts
  src/lib/schemas/config.ts
  src/lib/schemas/index.ts
  src/lib/schemas/local-business.ts
  src/lib/schemas/organization.ts
  src/lib/schemas/product.ts
  src/lib/schemas/service.ts
  src/lib/schemas/types.ts
  src/lib/schemas/website.ts
Due: eslint --fix, prettier --write

blog: How to Automate Review Generation and Get More Google Reviews
  src/data/blog/review-generation-automation-guide/index.md
Due: prettier --write

blog: add after-hours lead capture guide
  src/data/blog/after-hours-lead-capture-guide/index.md
Due: prettier --write

blog: add patient onboarding automation guide
  src/data/blog/patient-onboarding-automation-guide/index.md
Due: prettier --write

blog: add HIPAA-compliant social media marketing guide
  src/data/blog/hipaa-compliant-social-media-marketing/index.md
Due: prettier --write

blog: add automated follow-up sequences guide
  src/data/blog/automated-follow-up-sequences-guide/index.md
Due: prettier --write

blog: add online reputation management guide
  src/data/blog/online-reputation-management-guide/index.md
Due: prettier --write

blog: How to Use AI Chatbots for HIPAA-Compliant Patient Communication
  src/data/blog/ai-chatbots-hipaa-compliance/index.md
Due: prettier --write

blog: How to Optimize Your Consultation Booking Process for More Conversions
  src/data/blog/consultation-booking-optimization-guide/index.md
Due: prettier --write

blog: Zapier vs Make vs n8n comparison guide
  src/data/blog/zapier-vs-make-vs-n8n-comparison/index.md
Due: prettier --write

blog: Local Schema Markup: Help Google Understand Your Business
  src/data/blog/local-schema-markup-guide/index.md
Due: prettier --write

blog: Website Speed Optimization - Complete 2026 Performance Guide
  src/data/blog/website-speed-optimization-guide/index.md
Due: prettier --write

Add blog post: How to Build Customer Feedback Loops That Drive Real Growth
  src/data/blog/customer-feedback-loops-guide/index.md
Due: prettier --write

Add blog post: Video Marketing for Aesthetic Practices
  src/data/blog/video-marketing-aesthetic-practices/index.md
Due: prettier --write

feat(blog): add Small Business Automation pillar post
  src/data/blog/small-business-automation-guide/index.md
Due: prettier --write

Add blog post: 7 AI Trends Reshaping Small Business in 2026
  .openclaw/AGENTS.md
  .openclaw/blog-agent/AGENTS.md
  docs/STYLE-IMPROVEMENT-PLAN.md
  package-lock.json
  src/data/blog/ai-trends-2026/index.md
Due: prettier --write

blog: Add website accessibility and ADA compliance guide
  src/data/blog/website-accessibility-ada-compliance-guide/index.md
Due: prettier --write

Add blog post: Community Engagement Marketing for Local Business Success
  src/data/blog/community-engagement-marketing-local-business/index.md
Due: prettier --write

blog: Add Complete 2026 Digital Marketing Guide for Plastic Surgeons
  src/data/blog/digital-marketing-guide-plastic-surgeons-2026/index.md
Due: prettier --write

Add blog post: How to Respond to Negative Reviews
  src/data/blog/responding-to-negative-reviews-guide/index.md
Due: prettier --write

feat(blog): Add social media scheduling automation guide
  src/data/blog/social-media-scheduling-automation-guide/index.md
Due: prettier --write

blog: add website security essentials guide
  src/data/blog/website-security-essentials-guide/index.md
Due: prettier --write

Add blog post: SMS Marketing Automation Guide
  src/data/blog/sms-marketing-automation-guide/index.md
Due: prettier --write

feat: add customer loyalty program guide blog post
  src/data/blog/customer-loyalty-program-guide/index.md
Due: prettier --write

feat(blog): add treatment package marketing guide for aesthetic practices
  src/data/blog/treatment-package-marketing-aesthetic-practices/index.md
Due: prettier --write

blog: Add seasonal marketing calendar guide for local businesses
  src/data/blog/seasonal-marketing-calendar-small-business/index.md
Due: prettier --write

feat(blog): Add CRM Automation for Small Business guide
  src/data/blog/crm-automation-small-business-guide/index.md
Due: prettier --write

blog: Google Analytics 4 for Small Business guide
  src/data/blog/google-analytics-4-small-business-guide/index.md
Due: prettier --write

feat: add content marketing for small business guide blog post
  src/data/blog/content-marketing-small-business-guide/index.md
Due: prettier --write
